.container{
  position: relative;
  display: inline-flex;
  text-align: center;
 
 
  

}

.landing img{
  float: center;
  border: top 2px;;
  width: 1350px;
  height: 800px;
  
}

.textoencima2 h2{
  vertical-align: text-bottom;
  position: absolute;
  text-align: center;
  top: 0,5px;
  left: 10px;


}


.textoencima h1{
  vertical-align: text-bottom;
  position: absolute;
  text-align: center;
  top: 70px;
  left: 20px;
  right: 50px;
}


.textoencima3 h4{
  vertical-align: text-bottom;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 50px;
  /* left: 3px; */
}

.boton{
  position: absolute;
  border: 1px solid #e6fa08;
  top: 80%;
  left: 38%;
  width: max-content;
  font-size: 1.5em;
  padding: .5rem 7rem;
  color: #d3d7d4;
  background-color: transparent;
  border-radius: .3rem;
  box-shadow: 0 6px 6px rgba(236, 237, 229, 0.91)

  
}

.link{
  color:rgb(227, 134, 41);
  font-family:Arial, Helvetica, sans-serif;
  font-style:oblique;
}
/* .centrado{

/* img.alineadoTextoImagenAbajo{
  vertical-align: text-bottom;  
} */