.articulo6 img{
    float: right;
    width: 175px;
    height: 150px;
    position : absolute;
    top: 2080px;
    left: 70%
}



  .articulo5 img{
    float: right;
    width: 682px;
    height: 400px;
    position : absolute;
    top: 2000px;
    left: -1%
  
  }

  
  .pufi h2{
    color: rgb(17, 15, 15);
    vertical-align: text-bottom;
    position: absolute;
    text-align: center;
    top: 2220px;
    left: 56%;
    right: 50px;
  }

  .parrafo p{
    vertical-align: text-bottom;
    position: absolute;
    text-align: center;
    top: 2270px;
    left: 55%;
    right: 50px;

  }

  .ver h4{
    vertical-align: text-bottom;
    position: absolute;
    text-align: center;
    color: gray;
    top: 2300px;
    left: 55%;
    right: 50px;

  }