.articulo6 img{
    float: right;
    width: 175px;
    height: 150px;
    position : absolute;
    top: 2080px;
    left: 70%
}



  .articulo5 img{
    float: right;
    width: 682px;
    height: 400px;
    position : absolute;
    top: 2000px;
    left: -1%
  
  }