.container{
    display: inline-table;
    text-indent: 2rem;
    line-height: 30%;
    letter-spacing: 0px;
    
    



}

.form{
    display: block; 
    text-align: right;
    position: absolute;
    top: 470%;
    /* left: 35%;
    width: max-content;
    */
}
.form1 h6{
    color:rgb(119, 122, 119);
    border: block 1px solid;
    position: relative;
    top: 1564px;
    left: 610px
}


.form2 p{
    border: block 1px solid;
    position: relative;
    top: 1580px;
    left: 520px
}

.input{
    margin:100%;
    padding: 5.rem 7rem;
    color:red;
    font-size: 1.5em;
    border: 1 solid black;
    position: absolute;
    text-align: center;
    text-emphasis: none;
    width:50px;
    height:30px;
    left: 485px;
    top: 35px;
    
   
   
   
}

.suscrib h1{
    position: relative;
    top: 1570px;
    left: 550px
}

.button {
    border-radius: 5px;
    position: relative;
    left: 720px;
    top: 94px;


}