.articulo3 img{
    float: right;
    width: 150px;
    height: 100px;
    position : absolute;
    top: 1700px;
    left: 20%
}



  .articulo4 img{
    float: right;
    width: 682px;
    height: 400px;
    position : absolute;
    top: 1600px;
    left: 49.5%
  
  }