.articulo3 img{
    float: right;
    width: 150px;
    height: 100px;
    position : absolute;
    top: 1700px;
    left: 20%
}



  .articulo4 img{
    float: right;
    width: 682px;
    height: 400px;
    position : absolute;
    top: 1600px;
    left: 49.5%
  
  }

  .pufi h2{
    color: rgb(17, 15, 15);
    vertical-align: text-bottom;
    position: absolute;
    text-align: center;
    top: 1800px;
    left: -45%;
    right: 50px;
  }

  .parrafo p{
    vertical-align: text-bottom;
    position: absolute;
    text-align: center;
    top: 1850px;
    left: -45%;
    right: 50px;

  }

  .ver h4{
    vertical-align: text-bottom;
    position: absolute;
    text-align: center;
    color: gray;
    top: 1887px;
    left: -46%;
    right: 50px;

  }