.container {
  margin-top: 0px;
  margin-left:150px;
  margin-right:600px;
  margin-bottom: none



}

.pufi h1{
  color:red;
  position : relative;
  left: -100px;
  top: 1750px
}

 .h6 span{
  display: block;
  position : relative;
  left: 150px;
  top: 1700px;
}

.contactosh6 span{
  display: block;
  position : relative;
  left: 340px;
  top: 1615px;
  
}

.qr img{
  float: right;
  width: 40px;
  height: 40px;
  position : absolute;
  top: 528%;
  left: 92%;
}

.seguro h6{
  /* text-align-last:justify; */
  position : absolute;
  left: 1100px;
  top: 528%;
}

/* .footer {
  width: 50%;
  height: 81 pixels;
  position : absolute;
  bottom : 0 ;
  left : 0 ;
} */

.redes img{
  float: right;
  width: 30px;
  height: 30px;
  position :relative;
  top: 1793px;
  left: 30%;

}

.redesparr h5{
  color:rgb(25, 14, 14);
  position : relative;
  top: 1840px;
  left: 100%;
}


